# === Node.js dependencies ===
node_modules/
npm-debug.log
yarn-error.log

# === Environment variables ===
.env

# === VS Code files ===
.vscode/
.DS_Store

# === Logs ===
logs
*.log

.env
node_modules